<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BT07_MainSub_SV_KQ.Properties.Settings.QLSVConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\DATA_LapTrinh\Git Clone\Chuong_03\DATA\QLSV.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="BT07_MainSub_SV_KQ.Properties.Settings.QLSVConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\DATA_LapTrinh\Git Clone\gitclone\DATA\QLSV.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>